.slider-images {
    padding: 5px;
}

.slider-images img {
    height: auto;
    width: 150px;
}

.slider-images a {
    text-decoration: none;
}

a.button.rudr-remove {
    margin-top: 45px;
    margin-left: 10px;
}

a.remove_field {
    margin-left: 15px;
    margin-top: 10px !important;
    color: red;

}